.item{
    background-color: #FEFEDF;
    border-radius: 2px solid #F0C2FF;
    margin: 10px;
    padding: 10px; 
     
}
.item img{
    width: 200px;
}
.item-name{
    color: #000000;
    font-weight: 400;
}
.link{
    
    text-decoration: none;
    color: black;
   
}
.link:hover{
    color: black;
    
}
.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
   -moz-box-shadow:  -1px 9px 40px -12px rgba(0,0,0,0.75);
   box-shadow: -1px 9px 40px -12px rgb(0,0,0,0.75);
} 